<%= form_tag admin_find_images_find_images_path, class: "formtastic result" do %>
  <fieldset class="inputs">
    <legend><span>Sites:</span></legend>
    <ol>
      <% Site.all.each do |site| %>
        <li>
          <%= label_tag do %>
            <%= check_box_tag 'sites[]', site.name %>
            <%= site.name %>
          <% end %>
        </li>
      <% end %>
    </ol>
  </fieldset>
  <fieldset class="inputs">
    <legend><span>Phrases:</span></legend>
    <ol>
      <% Phrase.all.each do |phrase| %>
        <li>
          <%= label_tag do %>
            <%= check_box_tag 'phrases[]', phrase.name %>
            <%= phrase.name %>
          <% end %>
        </li>
      <% end %>
    </ol>
  </fieldset>
  <fieldset class="inputs">
    <legend><span>Sites:</span></legend>
    <ol>
      <li>
        <label for="image_url" class="label">Image URL:</label>
        <%= text_field_tag 'image_url', nil, required: true %>
      </li>
    </ol>
  </fieldset>
  <fieldset class="actions">
    <ol><li><%= submit_tag('Upload') %></li></ol>
  </fieldset>
<% end %>